ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 180px);
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

li {
    grid-column: span 2;
    text-align: center;
    border-radius: 65px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-wrap: nowrap;
    line-height: 1rem;
    font-family: sans-serif;
    position: relative;
    padding: 7px;
    border: 20px solid #fffefe00;
    background: linear-gradient(#000000 0 0) content-box,
        linear-gradient(var(--c, #ffffff) 0 0) padding-box,
        linear-gradient(var(--d, 90deg), #0000 75%, #7cd3ca ) border-box;
}

li:nth-child(even) {
    grid-column-end: -1;
    --d: -90deg;
    --c: #ffffff;
}

li:not(:last-child) {
    margin-bottom: -20px;
}

li:before,
li:after {
    content: "";
    display: block;
    height: 0.6em;
}

time {
    position: absolute;
    font-size: 0.65em;
    left: calc(100% + 50px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

li:nth-child(even) time {
    left: auto;
    color: #000;
    right: calc(100% + 50px);
}







